body {
    background-color: azure;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

ul li, ol li {
    padding: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 200px;
    height: auto;
}

ul li {
    padding: 5px;
    transition: all 0.2s ease;
}

.linky {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}


#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: auto;
}

section {
    padding: 80px;
    margin-top: -20px;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}   

#navbar .logo {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
    transition: 0.3s;
}

#navbar ul li a:hover {
    background-color: #acadab;
    border-radius: 5px;
}

.linky img:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    text-transform: scale(1.1);
}

.h1 {
    text-align: center;
}

html {
  scroll-behavior: smooth;
}
