html,body {
  height:100%;
  margin:0;
  scroll-behavior: smooth;
}
 
body {
  background: #1a1a1a;
  color: white;
  margin: 0;
    font-family:system-ui,sans-serif;
}

#uvod, #projekty, #kontakt {
  padding-top: 120px;
}


  nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111;
  padding: 15px;
  text-align: right;
  font-size: 20px;
  padding: 8px 15px;
}

#kontakt {
  font-size: 20px;
}

#projekty {
  font-size: 20px;
}
 
nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 10px;
}

nav li {
  display: inline;
  margin-left: 20px;
}
 
 
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  transition: 0.3s;
}

#uvod {
  padding-top: 120px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
 
nav a:hover {
  color: #00bfff;
}

html {
  scroll-behavior: smooth;
}