body {
     height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: #333;
}